 p, li, a {
    color: rgb(6, 156, 250);
    font-family: Poppins;
    size: 24px;
  }
  
h1, h2, h3, b {
    color: navy;
    margin-left: 20px;
  } 

h1 {
    size: 32px;
  }
  
a, p {
      margin-left: 20px;
      color: rgb(0, 145, 235);     
  }

head, body, section {
    font-family: Poppins;
    vertical-align: middle;
}

a:hover {
    color: black;
}

img, video {
    margin-left: 20px;
    border-radius: 10px;
    display: inline;
}

hr {
  margin: 20px;
}

.PT {
  vertical-align: middle;
  border-radius: round;
  font-size: 11px;
  font-weight: 600;
  margin-right: 5px;
}



